*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#000;
}

/* HERO SECTION */

.hero{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

/* LOGO */

.logo-container{
    position:absolute;
    top:18%;
    left:50%;
    transform:translateX(-50%);
    z-index:5;
}

/*LOGO*/


.logo-container{
    position:absolute;
    top:0%;
    left:50%;
    transform:translateX(-50%);
    z-index:5;
}

.logo-container img{
    width:160px;
    height:auto;
}

/* BACKGROUND */

.hero-background{
    position:absolute;
    width:100%;
    height:100%;
    background-image:url("../images/backgroundimg.jpg");
    background-size:cover;
    background-position:center;
    filter:brightness(0.9);
}

/* SEARCH BAR */

.search-container{
    margin-top:20px;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    align-items:center;
    background:white;
    border-radius:15px;
    padding:10px;
    width:700px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.search-container input{
    flex:1;
    border:none;
    outline:none;
    font-size:18px;
    padding:10px;
}

.search-container button{
    background:#2d7ef7;
    color:white;
    border:none;
    padding:12px 18px;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
}

/*Sombra barra pesquisa*/
.search-active .search-container{
    box-shadow:0 20px 50px rgba(0,0,0,0.4);
}

/*LOGO MUDA DE LUGAR*/
.search-active .logo-container{
    top:30%;
    transition:0.3s;
}

/* CAROUSEL */

.carousel-container{
    position:absolute;
    bottom:60px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0 60px;
}

/* CARDS */

.cards-wrapper{
    display:flex;
    gap:20px;
    max-width:1200px;
    width:100%;
    justify-content:center;
    flex-wrap: nowrap;
}

.cards-wrapper{
    display:flex;
    gap:20px;
    max-width:1200px;
    width:100%;
    justify-content:center;
    flex-wrap: nowrap;
    transition:0.3s;
}

/* CARD BASE */

.hotel-card{
    width:250px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

.hotel-card img{
    width:100%;
    height:150px;
    object-fit:cover;
}

.hotel-card-content{
    padding:12px;
}

.hotel-card h3{
    font-size:16px;
}

.hotel-card p{
    font-size:14px;
    color:#555;
}

.hotel-card{
    width:250px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.25);
    transition:0.25s;
}

.hotel-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 40px rgba(0,0,0,0.35);
}
/* ARROWS */

.arrow{
    background:white;
    border:none;
    font-size:22px;
    padding:10px 15px;
    margin:10px;
    border-radius:10px;
    cursor:pointer;
}

/* DOTS */

.dots-container{
    position:absolute;
    bottom:40px;
    width:100%;
    display:flex;
    justify-content:center;
    gap:10px;
}

.dots-container span{
    width:10px;
    height:10px;
    background:white;
    border-radius:50%;
    opacity:0.5;
}

.dots-container span.active{
    opacity:1;
}


/* SEARCH OVERLAY */

.search-overlay{
    position:fixed;
    inset:0;
    backdrop-filter:blur(8px);
    background:rgba(0,0,0,0.3);
    opacity:0;
    pointer-events:none;
    transition:0.3s;
}

/* busca ativa */

.search-active .search-overlay{
    opacity:1;
    pointer-events:auto;
}

/* barra cresce */

.search-active .search-container{
    top:20%;
    width:750px;
    transform:translate(-50%, -50%) scale(1.05);
    transition:0.3s;
    z-index:10;
}


/*elementos sobrepostos*/
.hotel-image{
    position:relative;
}

.hotel-image img{
    width:100%;
    height:150px;
    object-fit:cover;
}


/*botão favoritar*/
.favorite{
    position:absolute;
    top:10px;
    right:10px;
    background:white;
    border-radius:50%;
    width:32px;
    height:32px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    cursor:pointer;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
    
    color:transparent;
    -webkit-text-stroke:1.5px #333;

    transition:0.2s;
}

.favorite:hover{
    transform:scale(1.1);
}

/*preencher coração*/

.favorite.active{
    color:red;
    -webkit-text-stroke:0;
}

/*botão de reserva*/
.reserve-btn{
    position:absolute;
    bottom:10px;
    left:25%;
    transform:translateX(-50%);
    background:#6C92B6;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:8px;
    font-size:14px;
    cursor:pointer;
    box-shadow:0 5px 15px rgba(0,0,0,0.25);
    transition:0.2s;
}

.reserve-btn:hover{
    background:#0D5F6F;
}

/* BOTÕES DE AUTENTICAÇÃO */

.auth-buttons{
    position:absolute;
    top:25px;
    right:40px;
    display:flex;
    gap:15px;
    z-index:5;
}

.login-btn{
    background:#6C92B6;
    border:2px solid #0D5F6F;
    color:#000000;
    padding:8px 16px;
    border-radius:8px;
    cursor:pointer;
    font-size:14px;
}

.signup-btn{
    background:#6C92B6;
    border:2px solid #0D5F6F;
    color:black;
    padding:8px 16px;
    border-radius:8px;
    cursor:pointer;
    font-size:14px;
}

.signup-btn:hover{
    background:#0D5F6F;
    color:white;
    border:2px solid #6C92B6
}

.login-btn:hover{
    background:#0D5F6F;
    color:white;
    border:2px solid #6C92B6;
}